<footer class="pb-14" aria-label="Site footer">
  <div class="c-small">
    <p>
      You can access the source code of this website{' '}
      <a href="https://github.com/calganaygun/homepage" target="_blank" rel="noopener noreferrer" class="hover:underline">
        on GitHub.
      </a>
    </p>
  </div>
</footer>
